
.overla{
    
    position: absolute;
    top : 400px;
        left: 0;
        padding: 16px 1px 85px 1098px;
        background-color: rgba(11, 11, 11, 0.5);
        
      z-index: 0;

    
    
    
}

.boton{
    z-index: 1;
    top : 433px;
     left:50px;
}

@media only screen and (max-width: 600px) {
    .overla{
    
        position: absolute;
        top: 242px;
        left: 0;
        padding: 16px 1px 41px 318px;
        background-color: rgba(11, 11, 11, 0.5);
        z-index: 0;
        
        
        
    }
    
    .boton{
        z-index: 1;
        top: 255px;
        left: 12px;
    }
    
  }

  @media only screen and (max-width: 768px) {
    .overla{
        top: 305px;
    left: 0;
    padding: 21px 1px 72px 765px;
    background-color: rgba(11, 11, 11, 0.5);
    z-index: 0;
        
        
    }
    
    .boton{
        z-index: 1;
        top: 330px;
        left: 32px;
    }
    
  }